Chat: 
<br>
<span id="chat"></span>
<hr>
<span>Youname: </span>
<span id="usr"><%= cookies.signed[:username] %></span>
<hr>
Connected:
<br>
<div id="users"></div>
<hr>
Message:
<br>
<textarea id="msg" style="width:380px; height: 80px;"></textarea>
<hr>
<button id="send">Send Message</button>
<button id="quit">quit</button>